/*
  Colors used:
  -Background-Color (Very dark violet): #1c1034;
  - Text Color (Slightly desaturated blue): #7e93c2;
  - Primary Color (Dark greenish): #8c8e7b;
  - Secondary Color (Orange): #7e93c2;
*/
:root {
  --primary-color: #1c1034;
  --secondary-color: #7e93c2;
  --blue: #6680b5;
  --light-blue: #B6C2DD;
  --first-button-background: #8FC9FF;
  --button-text: #F3E9D2;
  --primary-font-weight: 900;
  --secondary-font-weight: 700;
  --font-size: 20px;
  --padding: 20px;
}
* {
  box-sizing: border-box;
  }
  body {
    background-color: var(--primary-color);
    font-weight: var(--primary-font-weight);
    line-height: 1.6;
  }
  .page-header {
    display:flex;
    width:100%;
    padding: var(--padding);
    font-size: 40px;
  }
  .page-header__item {
    flex: 0 1 200px;

  }
  .page-header__item:last-child {
    flex-grow:1;
    text-align:center;
  }
  .navigation__logo{
    position: static;
    height: 200px;
    width: 250px;
    top: 20px;
    left: 20px;
  }
  a.navigation-list {
    list-style-type: none;
    font-size: var(--font-size);
  }
  .navigation-list li {
    display: inline-block;
    margin-left:15px;
  }

  .navigation-list__item--active {
  text-decoration: none;
  }

  a {
    color: var(--blue);
    font-size: var(--font-size);
    text-align: center;
  }
  a:visited {
    /* visited link */
    color: var(--secondary-color);
  }
  a:hover, a:focus {
    text-decoration: none;
  }
  a:active {
    color: var(--secondary-color);
  }
  .content {
      text-align: center;
      width: 100%;
      padding:var(--padding);
  }

  .profile {
      max-width: 200px;
      margin: 0 auto;
  }

  .profile__portrait {
    float: left;
    height: auto;
    width: 200px;
    margin-right:30px;
    border-radius: 50%;
  }

  h1 {
    color:  var(--secondary-color);
    text-align: center;
    font-size: 25px;
    font-weight: var(--primary-font-weight);
  }

  h2 {
    color: var(--secondary-color);
    font-size: var(--font-size);
    font-weight:var(--primary-font-weight);
    text-align: center;
  }

  p {
      color: var(--light-blue);
      font-size: var(--font-size);
      font-weight:var(--secondary-font-weight);
      text-align: center;
  }
  .CV{
    text-align: center;
  }
  .homepage {
   align-items: center;
   text-align: center;
 }
 a.credits {
  font-size: 6px;
  text-align: center;
  align-items: center;
}

   @supports (display:grid) {
      .grid {
          display: grid;
          grid-template-columns: 1fr 1fr ;
          grid-gap: 10px;
          margin: 0px;
          text-align: center;
      }
    }
   .grid__item {
     background-color: var(--blue);
     width: auto;
     min-height: auto;
     margin: 0 ;
     padding:var(--padding);
   }

  .button, button {
  /* overwrites browser defaults and resets the border */
  border: none;
  display: inline-block;
  /* takes the font from the outer container */
  font-family: inherit;
  /* styles the button */
  background-color:var(--blue);
  color: var(--button-text);
  text-decoration: none;
  padding: 3px;
  border-radius: 2px;
  /* width of the border, type, color */
  transition-property: opacity;
  transition-duration: 0.2s;
}
button:hover,
button:focus,
.button:hover,
.button:focus {
  /* lets the mouse appear as a hand when hovering over the button */
  cursor: pointer;
  /* reduces the opacity of the button to 80% */
  opacity: 0.8;
}
.button__secondary {
  background-color: var(--first-button-background);
  color: var(--button-text);
  align-items: center;
}

 @keyframes color-change {
   0% { color: #a3a3a3; }
   50% { color: #D6492A; }
   100% { color:  #E57200; }
 }
 svg .st1, .st2 {
     animation: 3s color-change infinite alternate linear;
 }

 @keyframes rocket-move-reverse {
   from {
     transform: rotate(0deg) ;
   }
   to {
     transform: rotate(-45deg);
   }
 }
 .page-footer {
   clear: both;
   display: flex;
   flex-direction: column;
   text-align:center;
   color: var( --blue ) ;
  }
